<section class="ui raised segment">
  <div class="ui grid">
    <table class="ui celled compact table segment">
      <thead>
        <tr>
          <th>msi</th>
          <th>x1</th>
          <th>y1</th>
          <th>x1</th>
          <th>y2</th>
          <th>x3</th>
          <th>y3</th>
          <th>x4</th>
          <th>y4</th>
        </tr>
      </thead>
      <tbody>
        {{#each ships}}
          <tr>
            <td> {{msi}} </td>
            <td> {{x1}} </td>
            <td> {{y1}} </td>
            <td> {{x2}} </td>
            <td> {{y2}} </td>
            <td> {{x3}} </td>
            <td> {{y3}} </td>
            <td> {{x4}} </td>
            <td> {{y4}} </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>