
  <div class="ui grid center aligned">
    <table class="ui collapsing table">
      <thead>
        <tr>
          <th>MMSI</th>
          <th>X1</th>
          <th>Y1</th>
          <th>X1</th>
          <th>Y2</th>
          <th>X3</th>
          <th>Y3</th>
          <th>X4</th>
          <th>Y4</th>
        </tr>
      </thead>
      <tbody>
        {{#each ships}}
          <tr>
            <td> {{msi}} </td>
            <td> {{x1}} </td>
            <td> {{y1}} </td>
            <td> {{x2}} </td>
            <td> {{y2}} </td>
            <td> {{x3}} </td>
            <td> {{y3}} </td>
            <td> {{x4}} </td>
            <td> {{y4}} </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
