<table class="ui celled compact center aligned table">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> msi</td>
      <td> {{latestShip.msi}} </td>
    </tr>
    <tr>
      <td> x1 </td>
      <td> {{latestShip.x1}} </td>
    <tr>
      <td> y1 </td>
      <td> {{latestShip.y1}} </td>
    <tr>
      <td> x2 </td>
      <td> {{latestShip.x2}} </td>
    <tr>
      <td> y2 </td>
      <td> {{latestShip.y2}} </td>
    <tr>
      <td> x3 </td>
      <td> {{latestShip.x3}} </td>
    <tr>
      <td> x3 </td>
      <td> {{latestShip.y3}} </td>
    <tr>
      <td> x4 </td>
      <td> {{latestShip.x4}} </td>
    <tr>
      <td> y4 </td>
      <td> {{latestShip.y4}} </td>
    </tr>
  </tbody>
</table>