
<div class="ui grid right aligned" style="padding: 10px;">
    <table class="ui collapsing table">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> MMSI </td>
      <td> {{latestShip.msi}} </td>
    </tr>
    <tr>
      <td> X1 </td>
      <td> {{latestShip.x1}} </td>
    <tr>
      <td> Y1 </td>
      <td> {{latestShip.y1}} </td>
    <tr>
      <td> X2 </td>
      <td> {{latestShip.x2}} </td>
    <tr>
      <td> Y2 </td>
      <td> {{latestShip.y2}} </td>
    <tr>
      <td> X3 </td>
      <td> {{latestShip.x3}} </td>
    <tr>
      <td> Y3 </td>
      <td> {{latestShip.y3}} </td>
    <tr>
      <td> X4 </td>
      <td> {{latestShip.x4}} </td>
    <tr>
      <td> Y4 </td>
      <td> {{latestShip.y4}} </td>
    </tr>
  </tbody>
</table>
</div>