{{> menu _id="plot"}}

<h1 class="ui centered header">Ship Plot</h1>

<div id="sketch" style="justify-content: center; align-items: center; margin: 0;
  display: flex;"></div>

<br>

<div class="ui container">
  <div class="ui two column grid">
    <div class="ui column segment">
      {{> plotform }}
    </div>
    <div class="ui column">
      {{#if error}}
        {{> mieerror }}
      {{/if}}
      {{#if latestShip}}
        {{> shipdetails }}
      {{/if}}
    </div>
  </div>
</div>

<script>
  var allShips = [
    {{#each ships}}
      {
        msi: {{msi}},
        x1: {{x1}},
        y1: {{y1}},
        x2: {{x2}},
        y2: {{y2}},
        x3: {{x3}},
        y3: {{y3}},
        x4: {{x3}},
        y4: {{y3}},
      },
    {{/each}}
  ];
</script>

<script src='js/plotships.js'></script>